html.light {
  /* Few basic colors */
  --theme-color-primary: #692581;

  /* Title color */
  --theme-title-color: #2e3048;

  /* Text color */
  --theme-text-color: #4b4d60;

  /* Danger / OK / warning */
  --theme-color-danger: #800;
  --theme-color-ok: #080;
  --theme-color-warning: #cc0;

  /* Main body */
  --theme-body-background-color: #e2e0e7;

  /* Dialog / Modal */
  --theme-mobile-menu-backdround-color: rgb(0 0 0 / 25%);
}
