html.light {
  /* Few basic colors */
  --theme-color-primary: #692581;

  /* Title color */
  --theme-title-color: #2e3048;

  /* Text color */
  --theme-text-color: #4b4d60;

  /* Danger / OK / warning */
  --theme-color-danger: #800;
  --theme-color-ok: #080;
  --theme-color-warning: #cc0;

  /* Main body */
  --theme-body-background-color: #e2e0e7;

  /* Connect Button */

  /* General message */
  --theme-general-message-background-color: #fff;
  --theme-general-message-border-color: #fff;
  --theme-general-message-box-shadow: 0 9.6px 13px 0 rgb(0 0 0 / 8%);
  --theme-general-message-color-title: #2e3048;
  --theme-general-message-color-message-background: #f8f8f8;
  --theme-general-message-color-text: #4b4d60;

  /* Copy button */
  --theme-copy-button-color: #000;
  --theme-copy-button-color-hover: #8b46a4;

  /* External link button */
  --theme-external-link-button-color: #000;
  --theme-external-link-button-color-hover: #8b46a4;

  /* General Error */
  --theme-general-error-background-color: #fff;
  --theme-general-error-border-color: #fff;
  --theme-general-error-title-color: #2e3048;
  --theme-general-error-message-background-color: #e2e0e780;
  --theme-general-error-message-color: #4b4d60;

  /* Spinner */
  --theme-spinner-color: #692581;

  /* Dialog / Modal */
  --theme-dialog-overlay-color: rgb(0 0 0 / 25%);

  /* Token Select */

  /* Token Input */

  /* Skeleton loading */
  --theme-skeleton-loading-background-color: #f3f3f3;
  --theme-skeleton-loading-background-color-end: #e0e0e0;
}
