.wrapper {
  --button-size: 24px;

  align-items: center;
  column-gap: 8px;
  display: flex;
}

.copyButton {
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  height: var(--button-size);
  justify-content: center;
  padding: 0;
  width: var(--button-size);
}

.copyButton:hover {
  background-color: transparent;
}

.copyButton:active {
  opacity: 0.7;
}

.linkButton {
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  height: var(--button-size);
  justify-content: center;
  padding: 0;
  width: var(--button-size);
}

.linkButton:hover {
  border: none;
}

.linkButton:active {
  opacity: 0.7;
}
