html.light {
  --theme-footer-background-color: #f7f7f7;
  --theme-footer-text-color: #2e3048;
  --theme-footer-line-color: #c5c2cb;
}

html.dark {
  --theme-footer-background-color: #2e3048;
  --theme-footer-text-color: #c5c2cb;
  --theme-footer-line-color: #5f6178;
}
